/* structure 
layout 
content 
Assets 
responsivty 
Cross
browser
compat */

/* 
    Introduction Page
*/

body {
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: red; */
    /* overflow: hidden; */
    /* text-align: center; */
  }
  .Wrapper {
    width: 100%;
    height: auto;
    /* background-color: lightgray; */
    /* background-color: gray; */
  }
  
  .Header {
    width: 100%;
    /* background-color: white; */
    height: 420px;
  }
  
  .Logo1 {
    width: 120px;
    height: 120px;
    /* background-color: gray; */
    margin-left: 10px;
  }
  .imageLogo {
    width: 100px;
    /* margin-left: 10px; */
    padding: 10px;
  }
  .Banner {
    width: 100%;
    height: 180px;
  }
  .twoColumnstextBlock {
    /* width: 100%; */
    height: 400px;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .textBlocksContentOverview {
    /* width: 100%; */
    width: 80%;
    height: 140px;
    background-color: white;
    /* margin: 3% auto; */
    margin: auto;
    padding: 10px;
  }
  /* .textBlocksContentOverview:nth-child(1), .textBlocksContentOverview:nth-child(2){
    height: 80px;
  } */
  .textContent {
    margin: 3% auto;
    font-size: 22px;
  }
  
  .textContentIcons {
    list-style-type: none;
    background-color: blue;
    margin-left: 1px;
    margin-right: auto;
  }
  li {
    list-style-type: none;
  }
  .headers {
    font-size: 48px;
  }
  ul li::before {
    /* content: "\f005"; */
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
    list-style-type: none;
  }
  .LineBreak {
    width: 100%;
    height: 5px;
    color: #00243a;
    background-color: #00243a;
  }
  .Faculty {
    text-align: center;
    margin-bottom: 5%;
    height: 500px;
  }
  text {
    text-align: center;
  }
  .ContactUs {
    text-align: center;
    height: 400px;
  }
  .FacultyDiv {
    /* display: grid; */
    /* column-gap: 20px; */
    /* grid-template-columns: auto; */
    /* background-color: lightgray; */
    width: 100%;
    height: 400px;
  }
  hr {
    width: 50%;
    /* margin-left: 0px; */
  }
  .FacultyImage {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
  }
  .img1 {
    margin: 5% auto;
    width: 300px;
    height: 300px;
  }
  .CourseIntroduction {
    width: 100%;
    height: 420px;
    /* background-color: lightgray; */
    text-align: center;
  }
  iframe {
    width: 50%;
    height: 380px;
    margin: 1% auto;
  }
  .Footer {
    width: 100%;
    height: 250px;
    background-color: #043461;
    display: grid;
    grid-template-columns: auto 300px;
    text-align: center;
  }
  .contactUs {
    width: 90%;
    height: 200px;
    background-color: white;
    margin: auto auto auto 100px;
    text-align: left;
  }
  .Logo2 {
    width: 120px;
    height: 120px;
    /* background-color: gray; */
    margin: 10% auto;
    /* margin-right: 10px; */
  }
  
  .imageGallery {
  }
  
  .videos {
  }
  
  .logo {
  }
  /* 
      interactive or functionality
  */
  
  /* 
      responsivity
  */
  
  /* 
  Mobile responsiveness
  */
  
  @media only screen and (max-width: 1025px) {
    .Wrapper {
      width: 100%;
      height: auto;
      /* background-color: gray; */
    }
    .imageLogo {
      width: 60px;
      padding: 10px;
    }
    text:nth-child(2) {
      font-size: 38px;
    }
    .headers {
      font-size: 38px;
    }
    rect {
      height: 150px;
    }
    svg {
      height: 150px;
    }
    .Logo1 {
      width: 80px;
      height: 80px;
    }
    .Header {
      width: 100%;
      /* background-color: white; */
      height: 320px;
    }
    .twoColumnstextBlock {
      width: 100%;
      height: 1000px;
      grid-template-columns: auto;
    }
    .textBlocksContentOverview {
      width: 80%;
      margin: 2% auto;
      font-size: 22px;
    }
    .textBlocksContentOverview:nth-child(4) {
      margin-bottom: 2%;
      /* padding: 10px; */
    }
    .Faculty {
      height: 400px;
    }
    .FacultyDiv {
      column-gap: 1px;
      grid-template-columns: auto auto;
      width: 100%;
      height: auto;
    }
    .FacultyImage {
      width: 170px;
      height: 160px;
      margin: 10px auto;
    }
    .CourseIntroduction {
      height: 300px;
    }
    .img1 {
      width: 170px;
      height: 160px;
    }
    iframe {
      width: 80%;
      height: 220px;
    }
    .Footer {
      width: 100%;
      height: auto;
      grid-template-columns: auto;
    }
    .contactUs {
      width: 90%;
      height: 200px;
      margin: 2% auto;
    }
    .Logo2 {
      margin: 2% auto;
      width: 90%;
      height: 200px;
    }
  }
  
  /* 
  **************************** * * * **  *** ***********  Home Page ***************** ** * * * * *********
  */
  
  .TextBox {
    width: 90%;
    height: 200px;
    border: 2px solid;
    margin: 1% auto;
    text-align: center;
  }
  .NavigationMenu {
    width: 90%;
    height: 400px;
    background-color: gray;
    margin: 1% auto;
    text-align: center;
  }
  .Tabs {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 0% auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid;
  }
  
  .FlipCards {
    width: 90%;
    height: 200px;
    margin: 1% auto;
    border: 2px solid;
    text-align: center;
  }
  H1 {
    text-align: center;
  }
  .TabsInner {
    width: 50%;
    height: 120px;
    background-color: gray;
    margin: auto;
  }
  
  /* 
  Home Page Mobile
  */
  
  @media only screen and (max-width: 1025px) {
    .Tabs {
      width: 90%;
      height: 150px;
      background-color: white;
      margin: 0% auto;
      text-align: center;
      display: grid;
      grid-template-columns: auto auto auto;
      border: 2px solid;
    }
    .TabsInner {
      width: 60%;
      height: 100px;
      background-color: gray;
      margin: auto;
    }
  }
  